{% extends 'base.html' %}
{% load static %}
{% block content %}
 <link
      rel="stylesheet"
      href="{%static 'css/multi-select-tag.css'%}"
      type="text/css"
      media="screen"
    />
    <script src="{% static 'js/multi-select-tag.js' %}"></script>    
    


  
<div class="book-list-container">
     <div class="form-container">
    <form method="GET" >
        <div class="row">
            <div class="col md-6">
                <label>Genre : </label>
                <br>
    <select name="genres" id="genres" multiple>
      {% for genre in genres %}
        <option value="{{ genre.id }}" {% if genre.id in selected_genres %} selected {% endif %}>{{ genre.name }}</option>
      {% endfor %}
    </select>
</div>
<div class="col md-6">
    <label>Language : </label>
    <br>
    <select name="languages" id="languages" multiple>
        {% for language in languages %}
          <option value="{{ language.id }}" {% if language.id in selected_languages %} selected {% endif %}>{{ language.name }}</option>
        {% endfor %}
      </select>
    </div>
    </div>
    <br>
    <input type="submit" value="Apply" class="form-control btn btn-primary">
  </form>
</div> 
  
<br>
  {% if books %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover display" id="book-table" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                       Genres
                    </th>
                    <th>
                        Description
                     </th>
                     <th>
                        Language
                     </th>
                    <th>
                        Published_Date
                    </th>
                    <th>
                        Price (Rs)
                    </th>
                    <th>
                        View Book
                    </th>
                    <th>
                        Download Book
                    </th>

                    {% if edit %}
                    <th>
                        Edit
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td><a href="{% url 'book_detail' book.slug %}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td><ul>
                        {% for genre in book.genres.all %}
                            <li>{{ genre.name }}</li>
                        {% endfor %}
                        </ul></td>
                    
                    <td>
                        {{ book.description|truncatechars:150 }}
                        </td>
                    <td>
                        {{book.language}}
                        </td>

                    <td>
                        {{book.publication_date}}
                    </td>
                    <td>
                        {{book.price}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{{book.pdf.url}}" target="_blank">View</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{book.pdf.url}}" download>Download</a>
                    </td>
                    {% if edit %}
                    <td>
                        
                        <a class="btn btn-primary" href={% url 'edit_book' book.slug %}>Edit</a>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>
    {% else %}
    <p>No Books found.</p>
    {% endif %}


{% comment %} <div class="col-md-4">
    <div class="book-list-container">
      <h2>Filter</h2>
      <form method="get">
        <div class="form-group">
          <label for="search">Search:</label>
          <input type="text" id="search" name="search" value="{{query}}" placeholder="Enter String to search" class="form-control">
        </div>
        <div class="form-group">
          <label for="order">Order by:</label>
          <select id="order" name="order" class="form-control">
            <option value="">-- Select --</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <!-- Add more options for other fields -->
          </select>
        </div>
        <div class="form-group">
          <label for="filter">Filter by:</label>
          <select id="filter" name="filter" class="form-control">
            <option value="">-- Select --</option>
            <option value="genre">Genre</option>
            <option value="language">Language</option>
            <!-- Add more options for other fields -->
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>
  </div> {% endcomment %}
    <script>
        new MultiSelectTag('genres')
        new MultiSelectTag('languages')
    </script>

    <script>
        $(document).ready(function() {
          $('#book-table').DataTable();
        });
        </script>
  
  {% endblock %}
  
  